@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  border-color: #222222;
}

body {
  background: #0a0a0a;
  color: #fafafa;
}
